.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2px 0;

  .item {
    box-sizing: border-box;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 24px;
    align-items: center;
    justify-content: space-between;

    .indicator {
      box-sizing: border-box;
      width: 2rem;
      height: 2px;
      //padding: 0 15%;
      background-color: red;
    }
  }

  .active {
    color: red;
  }

}

