<div class="container">
  <header>
    <app-header (toggleSidebarForMe)="changeDrawerVisible()"></app-header>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
  <i #addBtn class="andBtn" nz-icon nzType="plus-circle" nzTheme="outline" (click)="createModal()"></i>
</div>
<nz-drawer [nzVisible]="drawerVisible" [nzPlacement]="placement" nzClosable="false"
           (nzOnClose)="changeDrawerVisible()">
  <ng-container *nzDrawerContent>
    <app-sider></app-sider>
  </ng-container>
</nz-drawer>
